body {
  background-color: #81737c;
  color: azure;
  margin: 0;
  padding: 0;
}

#rueda1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.content-all {
  width: 187px;
  margin: auto;
  perspective: 750px;
  position: relative;
  margin-top: 30px;
}

#content-carrousel {
  width: 100%;
  position: absolute;
  animation: rotar 30s infinite linear;
  transform-style: preserve-3d;
  margin-top: 30px;
}

#content-carrousel:hover {
  /*animation-play-state: paused;*/
  cursor: pointer;
}

#content-carrousel figure {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px hsla(318, 52%, 42%, 0.5);
  border-radius: 10px;
  transition: all 300ms;
}

#content-carrousel figure:hover {
  box-shadow: 0px 0px 0px 0px black;
  transition: all 300ms;
}

#content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}
#content-carrousel figure:nth-child(2) {
  transform: rotateY(36deg) translateZ(300px);
}
#content-carrousel figure:nth-child(3) {
  transform: rotateY(72deg) translateZ(300px);
}
#content-carrousel figure:nth-child(4) {
  transform: rotateY(108deg) translateZ(300px);
  display: flex;
  background-color: #fff;
}
#content-carrousel figure:nth-child(5) {
  transform: rotateY(144deg) translateZ(300px);
}
#content-carrousel figure:nth-child(6) {
  transform: rotateY(180deg) translateZ(300px);
}
#content-carrousel figure:nth-child(7) {
  transform: rotateY(216deg) translateZ(300px);
}
#content-carrousel figure:nth-child(8) {
  transform: rotateY(252deg) translateZ(300px);
}
#content-carrousel figure:nth-child(9) {
  transform: rotateY(288deg) translateZ(300px);
}
#content-carrousel figure:nth-child(10) {
  transform: rotateY(324deg) translateZ(300px);
}
#content-carrousel figure:nth-child(11) {
  transform: rotateY(360deg) translateZ(300px);
}

#content-carrousel img {
  width: 100%;
  transition: all 300ms;
}

#content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar {
  to {
    transform: rotateY(360deg);
  }
}

.pre {
  font-size: 2.6em;
  text-shadow: 9px 9px 18px #eb36a5, 3px 3px 5px #bb0b80, -3px -3px 5px #bb0b80,
    -9px -9px 27px #eb36a5;
}

.sa {
  text-shadow: 9px 9px 18px #1ada6a, 3px 3px 5px #2dee57, -3px -3px 5px #2dee57,
    -9px -9px 27px #1ada6a;
  animation: sa-animation 0.8s alternate infinite;
}

@keyframes sa-animation {
  from {
    color: #74e0e4;
    text-shadow: none;
  }
}

@media screen and (max-width: 400px) {
  .sa {
    animation: none;
  }
}
